<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/filter.css">
<body>
    <div id="filters-main">
        <div class="left_img_button" id="slideButton">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div id="filters">
            
            <a href="#">
                <div class="filter active">
                    <div><img src="/icons/0.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p style="text-decoration: none;">ALL</p>
                </div>
            </a>
            <a href="/istings">
                <div class="filter">
                    <div><img src="/icons/17.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Castles&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter" >
                    <div><img src="/icons/14.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Trending&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/9.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Rooms&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/1.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Beach&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/19.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Top of the world</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/12.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Countryside</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/6.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Amazing pools</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/3.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;OMG!&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/4.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Lake&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/18.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Camping</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/7.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>fariming</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/8.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Amazing views</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/13.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Treehouse</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/5.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Design&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/15.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Tropical</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/11.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Tiny house</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/16.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>National park</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/20.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Luxe&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Cabins&nbsp;</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/21.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Iconic cities</p>
                </div>
            </a>
            <a href="">
                <div class="filter">
                    <div><img src="/icons/22.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Earth homes</p>
                </div>
            </a>
        </div>
        <div class="right_img_button active" id="slideButton">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(let list of data){%>
            <a class="listing-link" href="/listings/<%=list.id%>">
                <div class="card listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text"><b><%=list.title%> </b><br>
                        <!-- <% if(list.price){ %> -->
                        &#8377; <%=list.price.toLocaleString("en-IN")%> / Night 
                        <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                        <!-- <% } %> -->
                    </p>
                    </div>
                  </div>
            </a>
            
            <%}%>
       
    </div>
    
</body>

<script src="/js/filter.js"></script>