.search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0px 1rem;
}

.search-btn:hover{
    background-color: #fe424d;
    color: #fff;
}

.search-btn i{
    display: inline;
    margin-right: 0.5rem;
}

.search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem;
}